*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering:optimizeSpeed;
}

.header{
    min-height: 100vh;
    background-image: linear-gradient(#5c5ee4b5,#e0d9d9b5),url(../img/harvard.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card1{
    background-color: #1c1c1cb5;
}


.house{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.loader-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.button {
    margin-top: -20px;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    z-index: 1; 
}

.column h2 {
    font-size: 75px;
}

.button:hover {
    background-color: #478dea; 
    
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #bbbbd0;
    color: rgb(29, 5, 250);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    z-index: 99;
  }
  
#scrollToTopBtn:hover {
    background-color: #8ca4f8;

}
  
   
#News .jumbotron h1.display-6 {
    font-size: 2rem; 
}

.Announcement{
    padding: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
.crs{
    color:#030608;
}
.adm{
    color:#030608;
}

.crsadm{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.column1 {
    flex: 1;
    margin: 1px;
    padding: 1px;
    background-image: linear-gradient(#1c1c1c65, #5661e1),url('../img/cbg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.column2 {
    
    flex: 1;
    margin: 1px;
    padding: 1px;
    background-image: linear-gradient(#1c1c1c65, #5661e1),url('../img/cbg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

  
.column {
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    border-radius: 0px;
    text-align: center;
    box-sizing: border-box;
    position:relative;
}

.info{
    color: white;
}

.overlay {
    position: absolute;
}