*{

    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering:optimizeSpeed;
}

.header{
    min-height: 100vh;
    background-image: linear-gradient(#5c5ee4b5,#e0d9d9b5),url(../img/harvard.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card1{
    background-color: #1c1c1cb5;
}


.house{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background{
    width: 200px;
    height: 100px;
    background-image:url(../img/harvard.jpg) ;

    padding:0;
    margin:0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}



.header{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}