
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering:optimizeSpeed;
}

.header{
    min-height: 100vh;
    background-image: linear-gradient(#5c5ee4b5,#e0d9d9b5),url(../img/harvard.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card1{
    background-color: #1c1c1cb5;
}


.house{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.background{
    width: 200px;
    height: 100px;
    background-image:url(../img/harvard.jpg) ;

    padding:0;
    margin:0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    
}

.loader-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#ADD8E6); /* Semi-transparent background */
    z-index: 1000; /* Make sure it's on top of other elements */
}
#News .jumbotron h1.display-6 {
    font-size: 2rem; 
}

.Announcement{
    padding: 50px;
}


