body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

/* Add this to your CSS file */

.loader-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ADD8E6;
}



#News .jumbotron h1.display-6 {
    font-size: 2rem; 
}

.Announcement{
    padding: 50px;
}

